<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="assets/favicon.png" />
    <link rel="stylesheet" type="text/css" href="index.css">
    <title>Pelican Town Meets Farmer</title>
  </head>
  <body>
    <div class="background">
        <div class="container">
            <header>
                <h1>Pelican Town Meets Farmer</h1>
                <p>- Dating app for serious farmers -</p>
            </header>
            <nav>

            </nav>
            <main>
              <div class="intro">
                <div class="item">
                  <img src="assets/heart.gif" alt="Expressing heart" id="happyheart" />
                </div>
                <div class="item">
                  <h2>Why we're here</h2>
                  <p>Pelican Town Meets Farmer was founded by a casual video gamer who believe every farmer deserves a real chance at love and knew casual gifting random things isn't going to cut it.</p>
                  <button type="button">Get to know use</button>
                </div>
                <div class="item">
                  <h2>How we do it</h2>
                  <p>You've inherited your grandfather's old farm plot in Stardew Valley. You've met some people in Pelican Town nearby. With over 98% of PTMF Daters looking for heart events with villagers, you won't be stuck wading through items to give to. Plus, we've been named one of the best dating apps for NPC relationships, with over six hundred thousand matches and counting.</p>
                  <button type="button">Tell me more</button>
                </div>
              </div>
              <div class="testimonial">
                <ul class="panel-container" id="panels">
                <li class="panel">
                  <p>"I was so nervous that Leah would think I was cheap for taking her beachcombing on our first date.  But when she showed me her driftwood sculptures later that night, I knew she was the one."</p>
                  <h3>Boyo & Leah</h3>
                </li>
                <li class="panel">
                  <p>"Penny is that kind of sweet, kindergarten teacher we all want for our kids.  I didn't even realize we were dating until we were holding hands on a bridge in the moonlight.  I'm glad my grandfather's ghost appeared and told me to go for it, or neither of us would have ever made a move!"</p>
                  <h3>Nathan & Penny</h3>
                </li>
                <li class="panel">
                  <p>"Shane was really nervious during our first date.  Then I said "lets go to the Stardrop Saloon, I'm buying" and he almost broke out in a run.  We really connected over our shared love of jalapeno poppers!"</p>
                  <h3>Emily & Shane</h3>
                </li>
                </li>
              </ul>
              </div>
            </main>
            
            <footer>

            </footer>
        </div>
    </div>
    <!-- <script src="index.js"></script> -->
  </body>
</html>
