<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="index.css">
    <script src="index.js"></script>
    <title>Pelican Town Meets Farmer</title>
  </head>
  <body>
    <div class="background">
        <div class="container">
            <header>
                <h1>Pelican Town Meets Farmer</h1>
                <p>- Dating app for serious farmers -</p>
            </header>
        </div>
    </div>
  </body>
</html>
