<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="assets/favicon.png" />
    <link rel="stylesheet" type="text/css" href="index.css">
    <script src="index.js"></script>
    <title>Pelican Town Meets Farmer</title>
  </head>
  <body>
    <div class="background">
        <div class="container">
            <header>
                <h1>Pelican Town Meets Farmer</h1>
                <p>- Dating app for serious farmers -</p>
            </header>
            <nav>

            </nav>
            <main>
              <section class="intro">
                <div>
                  <img src="assets/heart.gif" alt="Expressing heart" id="happyheart" />
                </div>
                <div class="item">
                  <h2>Why we're here</h2>
                  <p>Pelican Town Meets Farmer was founded by a casual video gamer who believe every farmer deserves a real chance at love and knew casual gifting random things isn't going to cut it. </p>
                  <button type="button">Get to know use</button>
                </div>
                <div>
                  <h2>How we do it</h2>
                  <p>
                    You've inherited your grandfather's old farm plot in Stardew Valley. You've met some people in Pelican Town nearby. With over 98% of PTMF Daters looking for heart events with villagers, you won't be stuck wading through items to give to. Plus, we've been named one of the best dating apps for NPC relationships, with over six hundred thousand matches and counting. 
                  </p>
                  <button type="button">Tell me more</button>
                </div>
              </section>
              <div class="testimonial">

                <div class="panel active">
                  <p><img src="assets/Leah's_Sculpture.png" alt="Leah's Sculpture" /></p>
                  <p>"I was so nervous that Leah would think I was cheap for taking her beachcombing on our first date.  But when she showed me her driftwood sculptures later that night, I knew she was the one."</p>
                   <h3>Boyo & Leah</h3>
                </div>
                <div class="panel">
                  <p><img src="assets/Void_Egg.png" alt="Void Egg" /></p>
                  <p>"I was afraid to date since it involves going outside.  But Sebastian invited me to meet him in his mom's basement and I haven't left since!  Who needs vitamin D when you have vitamin L-O-V-E?"</p>
                  <h3>Debbie & Sebastian</h3>
                </div>
                <div class="panel">
                  <p><img src="assets/Galaxy_Sword.png" alt="Galaxy Sword" /></p>
                  <p>
                    "I knew Abigal and I were a perfect match the night I was walking home from the bar after last call and found her practicing her katana skills in the cemetery."
                  </p>
                  <h3>
                    Nathan & Abigail
                  </h3>
                </div>
            </div>
            </main>
            <footer>

            </footer>
        </div>
    </div>
  </body>
</html>
